{{ 'fullwidthcollection.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  
  <section class="fullwidthcontainer">
    <div class="fullwidthitem">
      {{ dog-treats.featured_image | img_url: '600x600' | img_tag: product.featured_image.alt }}
    </div>
    <div class="fullwidthitem">
      {{ dog-treats.featured_image | img_url: '600x600' | img_tag: product.featured_image.alt }}
    </div>
    <div class="fullwidthitem">
      {{ dog-treats.featured_image | img_url: '600x600' | img_tag: product.featured_image.alt }}
    </div>
    <div class="fullwidthitem">
      {{ dog-treats.featured_image | img_url: '600x600' | img_tag: product.featured_image.alt }}
    </div>
  </section>
  

  {% schema %}
  {
    "name": "Full Width Collection",
    "tag": "section"
  }
  {% endschema %}