{{ 'homepageheader.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <section class="homeheaderouter">
    <div class="homeheaderitem">
        <h1 class="hxl">The School of Personal Paws</h1>
    </div>
    <div class="homeheaderitem">
        <img src="https://cdn.shopify.com/s/files/1/0617/7364/3956/files/hpimg-small.png?v=1661306139" loading="lazy" width="auto" height="auto">
    </div>
  </section>

  {%schema%}
  {
    "name": "Homepage Header",
    "tag": "section"
  }
  {% endschema %}