{{ 'homepageabout.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <div class="aboutcontainer">
    <div class="aboutitem">
        <div class="aboutinner">
            <h1 class="larger"> {{section.settings.custom_text_body}} </h1>
        </div>
    </div>
    <div class="aboutitem">
        <div class="aboutinner">
            <p> {{ section.settings.kait_description_box }} </p>
        </div>
    </div>
    <div class="aboutitem">
        <div class="aboutinner">
            <p> {{ section.settings.team_description_box }} </p>
        </div>
    </div>
    <div class="aboutitem">
        <div class="aboutinner">
            <a href="#" class="fancyBtn">Learn More</a>
        </div>
    </div>
  </div>

  {% comment %} <script>
    ScrollTrigger.matchMedia({
      "(min-width:900px)":function() {
        let tl = gsap.timeline({
          scrollTrigger:{
            trigger:".homepageintro",
            scrub:1,
            // markers:true,
            start:"top 70%",
            end:"bottom 30%",
          }
        });
        tl.from(".introitem", {y:"50%", autoAlpha:0, scale:.95, stagger:.15,})
        .to(".introitem", {y:0, stagger:.15});
      },
      "(max-width:899px)":function(){
        let tl = gsap.timeline({
          scrollTrigger:{
            trigger:".homepageintro",
            scrub:1,
            // markers:true,
            start:"top 90%",
            end:"bottom 60%",
          }
        });
        tl.from(".introitem", {autoAlpha:0, y:"50%"})
        .to(".introitem", {autoAlpha:1, y:"-10%"});
      }
    })
  </script> {% endcomment %}

  
  {%schema%}
  {
    "name": "Homepage About",
    "tag": "section",
    "settings": [
        {
            "id": "custom_text_body",
            "type": "text",
            "label": "customize text here",
            "default": "text here"
        },
        {
            "id": "kait_description_box",
            "type": "richtext",
            "label": "customize text here",
            "default": "<p> add text for kait description</p>"
        },
        {
            "id": "team_description_box",
            "type": "richtext",
            "label": "etext here",
            "default": "<p> add text for team description</p>"
        }
    ]
  }
  {% endschema %}