{{ 'homepageheader.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <section class="homeheaderouter">
    <div class="homeheaderitem">
        <h1 class="hxl"> {{ section.settings.header_intro_line }} </h1>
    </div>
    <div class="homeheaderitem">
        <img src="https://cdn.shopify.com/s/files/1/0617/7364/3956/files/hpimg-small.png?v=1661306139" loading="lazy" width="auto" height="auto">
    </div>
  </section>

  <script>
    gsap.from('.homeheaderitem h1', {immediateRender:false, y:"100%", autoAlpha:0, duration:1, delay:1});

    gsap.to(".homeheaderitem img", {delay:1, duration:1, clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)'});
  </script>

  {%schema%}
  {
    "name": "Homepage Header",
    "tag": "section",
    "section": [
      {
        "id": "header_intro_line",
              "type": "text",
              "label": "Default: The School of Personal Paws",
              "default": "text here"
      }
    ]
  }
  {% endschema %}