{{ 'homepageheader.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <section class="homeheaderouter">
    <div class="homeheaderitem">
        <h1 class="hxl"> {{ section.settings.homepage_banner_text }} </h1>
    </div>
    <div class="homeheaderitem">
        {{ section.settings.home_header_image }}
    </div>
  </section>

  <script>
    gsap.from('.homeheaderitem h1', {immediateRender:false, y:"100%", autoAlpha:0, duration:1, delay:1});

    gsap.to(".homeheaderitem img", {delay:1, duration:1, clipPath: 'polygon(0 0, 100% 0, 100% 100%, 0 100%)'});
  </script>

  {%schema%}
  {
    "name": "Homepage Header",
    "tag": "section",
    "settings": [
      {
        "id": "homepage_banner_text",
            "type": "richtext",
            "label": "customize text here",
            "default": "<p> School of Personal Paws</p>"
      },
      {
        "id": "home_header_image",
        "type": "image_picker",
        "label": "add image to homepage right side"
      }
    ]
  }
  {% endschema %}