{{ 'homepageintro.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <section class="homepageintro">
    <div class="introcontainer">
        <h1>Serving the Capital Region in Upstate NY, with locations in Rotterdam, and Scotia</h1>
        <p>
            Personal Paws LLC offers unique, customized training programs and support to our pack and their families. Our professionally trained team is here to guide and support you toward long-term success, specializing in behavioral modifications with dogs of all ages. We believe healthy relationships, clear communication and motivational methods are essentials for getting dogs eager to learn and setting them up for lifelong success. 
        </p>
    </div>
    
  </section>

  {%schema%}
  {
    "name": "Homepage Intro",
    "tag": "section"
  }
  {% endschema %}