<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="shelterouter">
  <div class="sheltercontainer">
    <div class="sheltersection">
      <div class="sheltersectionitem">
        <img src="{{section.settings.shelter-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="sheltersectionitem">
        <p> {{ section.settings.shelter-desc-1 }} </p>
      </div>
    </div>
    <div class="sheltersection">
      <div class="sheltersectionitem">
        <img src="{{section.settings.shelter-img-2 |  img_url: 'master'}}" alt="">
      </div>
      <div class="sheltersectionitem">
        <p> {{ section.settings.shelter-desc-2 }} </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "shelters",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "shelter-img",
        "label": "shelter logo 1"
      },
      {
        "type": "image_picker",
        "id": "shelter-img-2",
        "label": "shelter logo 2"
      }
    ]
  }
  {% endschema %}
