<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="teamouter">
  <div class="teamcontainer">
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        {{ section.settings.employee-one-name }}
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-2 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        {{ section.settings.employee-two-name }}
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-3 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
       {{ section.settings.employee-three-name }}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "team",
    "tag": "section",
    "settings": [
      {
                "type": "image_picker",
                "id": "why-img",
                "label": "employee image 1"

            },
      {
        "id": "employee_one_name",
            "type": "richtext",
            "label": "employee one name",
            "default": "<p>employee one here</p>"
      },
      {
                "type": "image_picker",
                "id": "why-im2",
                "label": "employee image 2"

            },
      {
        "id": "employee_two_name",
            "type": "richtext",
            "label": "employee two name",
            "default": "<p>employee two here</p>"
      },
      {
                "type": "image_picker",
                "id": "why-img-3",
                "label": "employee image 3"

            },
      {
        "id": "employee_three_name",
            "type": "richtext",
            "label": "employee three name",
            "default": "<p>employee three here</p>"
      }
    ]
  }
  {% endschema %}
