<link rel="stylesheet" href="{{ 'base.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="teamouter">
  <div class="teamcontainer">
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p> {{ section.settings.employee-one-name }} </p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-2 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p> {{ section.settings.employee-two-name }} </p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-img-3 |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
      <p> {{ section.settings.employee-three-name }} </p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-4-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p> {{ section.settings.employee-four-name }} </p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-5-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p> {{ section.settings.employee-five-name }} </p>
      </div>
    </div>
    <div class="teamitem">
      <div class="teamiteminner">
        <img src="{{section.settings.why-6-img |  img_url: 'master'}}" alt="">
      </div>
      <div class="teamiteminner">
        <p> {{ section.settings.employee-six-name }} </p>
      </div>
    </div>
  </div>
</div>

<script>
  ScrollTrigger.matchMedia({
      "(min-width:900px)":function() {
        let tl = gsap.timeline({
          scrollTrigger:{
            trigger:".teamouter",
            scrub:1,
            markers:true,
            start:"top 70%",
            end:"bottom 30%",
          }
        });
        tl.from(".teamitem", {y:"50%", autoAlpha:0, scale:.95, stagger:.15,})
        .to(".teamitem", {y:0, stagger:.15});
      },
      "(max-width:899px)":function(){
        let tl = gsap.timeline({
          scrollTrigger:{
            trigger:".homepageintro",
            scrub:1,
            // markers:true,
            start:"top 90%",
            end:"bottom 60%",
          }
        });
        tl.from(".introitem", {autoAlpha:0, y:"50%"})
        .to(".introitem", {autoAlpha:1, y:"-10%"});
      }
    })
</script>

{% schema %}
  {
    "name": "team",
    "tag": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "why-img",
        "label": "employee image 1"
      },
      {
        "id": "employee-one-name",
        "type": "richtext",
        "label": "employee one name",
        "default": "<p>employee one here</p>"
      },
      {            
        "type": "image_picker",
        "id": "why-img-2",
        "label": "employee image 2"
      },
      {
        "id": "employee-two-name",
        "type": "richtext",
        "label": "employee two name",
        "default": "<p>employee two here</p>"
      },
      {
        "type": "image_picker",
        "id": "why-img-3",
        "label": "employee image 3"

            },
      {
        "id": "employee-three-name",
        "type": "richtext",
        "label": "employee three name",
        "default": "<p>employee three here</p>"
      },
      {
        "type": "image_picker",
        "id": "why-4-img",
        "label": "employee image 4"
      },
      {
        "id": "employee-four-name",
        "type": "richtext",
        "label": "employee four name",
        "default": "<p>employee four here</p>"
      },
      {
        "type": "image_picker",
        "id": "why-5-img",
        "label": "employee image 5"
      },
      {
        "id": "employee-five-name",
        "type": "richtext",
        "label": "employee five name",
        "default": "<p>employee one here</p>"
      },
      {
        "type": "image_picker",
        "id": "why-6-img",
        "label": "employee image 6"
      },
      {
        "id": "employee-six-name",
        "type": "richtext",
        "label": "employee six name",
        "default": "<p>employee one here</p>"
      }
    ]
  }
  {% endschema %}
