
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper.min.js' | asset_url | script_tag }}
{{ 'testimonials.css' | asset_url | stylesheet_tag }}
{{ 'base.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
    <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}

  <div class="testimonialcontainer">
    <div class="testimonialwrapper">
        <div class="testimonialheader">
            <h1> {{ section.settings.testimonial_header }} </h1>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper"> 
                <div class="swiper-slide">
                    {{ section.settings.testimonial_one }}
                </div>
                <div class="swiper-slide">
                    {{ section.settings.testimonial_two }}
                </div>
                <div class="swiper-slide">
                    {{ section.settings.testimonial_three }}
                </div>
                <div class="swiper-slide">
                    {{ section.settings.testimonial_four }}
                </div>
                <div class="swiper-slide">
                    {{ section.settings.testimonial_five }}
                </div>
            </div>
        </div>
    </div>
  </div>

{% javascript %}
  const swiper = new Swiper('.swiper', {
    
    loop: true,
    speed: 1000,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 10,
    
    autoplay: {
      delay: 5000,
    },
  });
  
{% endjavascript %}

  {% schema %}
    {
      "name": "testimonials",
      "tag": "section",
      "settings": [
          {
              "id": "testimonial_header",
              "type": "text",
              "label": "customize text here",
              "default": "text here"
          },
          {
            "id": "testimonial_one",
            "type": "textarea",
            "label": "first testimonial goes here",
            "default": "add text for testimonial one here"  
          },
          {
              "id": "testimonial_two",
              "type": "textarea",
              "label": "second testimonial goes here",
              "default": "add text for testimonial two here"  
            },
            {
              "id": "testimonial_three",
              "type": "textarea",
              "label": "third testimonial goes here",
              "default": "add text for testimonial three here"  
            },
            {
              "id": "testimonial_four",
              "type": "textarea",
              "label": "fourth testimonial goes here",
              "default": "add text for testimonial four here"  
            },
            {
              "id": "testimonial_five",
              "type": "textarea",
              "label": "fifth testimonial goes here",
              "default": "add text for testimonial five here"  
            }
      ]
    }
  {% endschema %}