<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>


<div class="">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <p> {{ section.settings.testimonialone }} </p>
    </div>
    <div class="swiper-slide">
      <p> {{ section.settings.testimonialtwo }} </p>
    </div>
    <div class="swiper-slide">
      <p> {{ section.settings.testimonialthree }} </p>
    </div>
    <div class="swiper-slide">
      <p> {{ section.settings.testimonialfour }} </p>
    </div>
    <div class="swiper-slide">
      <p> {{ section.settings.testimonialfive }} </p>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
{% schema %}
  {
    "name": "testimonials",
    "settings": [
      {
        "id": "testimonialone",
            "type": "richtext",
            "label": "Testiomial One"
      },
      {
        "id": "testimonialtwo",
            "type": "richtext",
            "label": "Testiomial Two"
      },
      {
        "id": "testimonialthree",
            "type": "richtext",
            "label": "Testiomial Three"
      },
      {
        "id": "testimonialfour",
            "type": "richtext",
            "label": "Testiomial Four"
      },
      {
        "id": "testimonialfive",
            "type": "richtext",
            "label": "Testiomial Five"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
.swiper{
  background:purple;
  min-height:400px;
}
  
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}